name: Create Pull Request to Develop

on:
  push:
    branches:
      - "feature/**"

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: develop
          head: ${{ github.ref }}
          title: "Automated Pull Request from ${{ github.ref }}"
          body: |
            This is an automated pull request to merge changes from ${{ github.ref }} to develop.
              reviewers: octocat
              milestone: 1
              draft: false
