name: Create Pull Request from Develop to Release

on:
  pull_request:
    types: [closed]
    branches:
      - develop

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: release
          base: develop
          title: "Automated Pull Request from ${{ github.ref }}"
          body: |
            This is an automated pull request to merge changes from develop to release.
            reviewers: octocat
            milestone: 1
            draft: false
